/* 박스 크기 설정 */
.question_list{height:100px;}
.question_form{height:300px;}
.comment_form{height:300px;}
.login{height:400px;}
.signup{height:250px;}



.poll_list{height:400px;}
.poll_detail{height:250px;}
.poll_result{height:300px;}

/* footer 스타일 */
footer .menu{list-style:none;}
footer .menu li{display:inline-block; margin:10px 0;
        border-right:2px solid rgb(0, 0, 255); padding:0 10px;}
footer .menu li:last-child{border:none;}     /* 마지막 바 숨김 */
footer .menu li a{text-decoration:none;}

footer address p{margin-left:40px; color:#fff; line-height:0.9em;
        color:rgba(255, 255, 255, 0.6) font-size:0.9em;}
